<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngFor="let producto of productos" routerLink="/tabs/productos/ver" [queryParams]="{id: producto.id}">
    <img alt="" src="{{producto.image}}" />
    <ion-card-header>
      <ion-card-title>{{ producto.name }}</ion-card-title>
      <ion-card-subtitle>{{ producto.price | currency }}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>